body {
    background-color: #777;
    line-height: 32px;
    width: 960px;
    text-align: center;
    margin-left: 350px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin: auto;
}

header {
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
}

.nav {
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
}

#section {
    padding: 20px;
    background-color: #ebebeb;
    margin: 20px;
    width: 45%;
}

#article {
    background-color: #777;
    color: #ebebeb;
    margin: 20px;
    padding: 20px;
}

#h1 {
    padding: 10px;
    margin: 10px;
    color: #777;
    background-color: #ebebeb;
}

#paragraph {
    padding: 10px;
    margin: 10px;
    color: #777;
    background-color: #ebebeb;
}

#aside {
    padding: 58px;
    margin: 10px;
    background-color: #ebebeb;
    position: relative;
    top: -338px;
    width: 32.6%;
    left: 500px;
    height: 200px;
}

#footer {
    padding: 20px;
    background-color: #ebebeb;
    margin: 20px;
    position: relative;
    bottom: 340px;
}